# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log

# Terragrunt
**/.terragrunt-cache/

# Terraform lock file
# KEEP .terraform.lock.hcl
!.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log